---
const { name, designation, organisation, image } = Astro.props;
---

<div class="col-lg-3 col-md-6 pt-4">
  <!-- team member -->
  <div class="">
    <div
      class="de-team-list d-flex flex-col justify-content-center align-items-center"
    >
      <img src={image} class="team-pic  img-responsive img-rounded " alt="" />
      
    
    <div
      class="team-desc img-rounded pt-6 flex justify-content-center flex-column"
    >
      <h3>{name}</h3>
      <p class="lead mb-1">{designation}</p>
      <p class="lead">{organisation}</p>
      <div class="small-border"></div>
    </div>
    </div>
    <h6 class="align-items-center d-flex justify-content-center  px-auto pt-2 text-white">{name}</h6>
    
  </div>
  <!-- team close -->
</div>